@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Tinos:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style-type: none;
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: #333;
    margin-left: 40px;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .textbox {
    position: relative;
    max-width: 600px;
}
.content .textbox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textbox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textbox p {
    color: #333;
}
.content .textbox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
}
.content .img_box {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .img_box img {
    max-width: 340px;
}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img {
    max-width: 60px;
}
.sci {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #017143;
    width: 100%;
    height: 100vh;
    clip-path: circle(600px at right 800px);
}
@media (max-width:990px) {
    header {
        padding: 20px 20px 120px;
    }
    header .logo {
        max-width: 60px;
    }
    header ul {
        position: relative;
        display: none;
    }
    section {
        padding: 20px;
        min-height: 100vh;
    }
    .content {
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textbox {
        max-width: 100%;
    }
    .content .textbox h2 {
        font-size: 2.5rem;
        margin-bottom: 12px;
    }
    .circle {
        position: absolute;
         clip-path: circle(550px at center bottom);
         bottom: 0;
         top: 370px;
    }
    .content .img_box{
        max-width: 100%;
    }
    .content .img_box{
        max-width: 400px;
    }
    .thumb li img {
        position: absolute;
        max-width: 60px;
        top: 90px;
    }
    .thumb li{
        margin: 0px 50px;
    }
    .sci {
        position: absolute;
        right: 0;
        background: #017143;
        border-bottom-left-radius: 5px;
        border: 2px solid #012113;
    }
    .toggle {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: url('img/menu.png');
        color: #333;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}